<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="lan.qxc.lightserver.dao.GuanzhuMapper">

    <resultMap id="BaseResultMap" type="lan.qxc.lightserver.entity.Guanzhu">
        <id column="gzid" jdbcType="BIGINT" property="gzid"></id>
        <result column="userid" jdbcType="BIGINT" property="userid"></result>
        <result column="gzuid" jdbcType="BIGINT" property="gzuid"></result>
        <result column="createtime" jdbcType="TIMESTAMP" property="createtime"></result>
        <result column="remarkname" jdbcType="VARCHAR" property="remarkname"></result>
        <result column="is_deleted" jdbcType="TINYINT" property="is_deleted"></result>
        <result column="is_blacked" jdbcType="TINYINT" property="is_blacked"></result>
    </resultMap>

    <sql id="Base_Column_List">
        gzid, userid, gzuid,createtime,remarkname,is_deleted,is_blacked
    </sql>

    <select id="getMyGuanzhu" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"></include>
        from guanzhu
        where userid=#{userid,jdbcType=BIGINT} and is_deleted=0
        order by gzid desc
    </select>

    <select id="getGuanzhuInfo" resultType="lan.qxc.lightserver.entity.Guanzhu">
        select * from guanzhu
        where userid=#{userid,jdbcType=BIGINT} and gzuid=#{gzuid,jdbcType=BIGINT} and is_deleted=0
        order by gzid desc
    </select>

    <select id="getMyGuanzhuUserids" parameterType="java.lang.Long" resultType="java.lang.Long">
        select gzuid
        <include refid="Base_Column_List"></include>
        from guanzhu
        where userid=#{userid,jdbcType=BIGINT} and is_deleted=0
        order by gzid desc
    </select>

    <select id="getRemark" resultType="java.lang.String">
        select remarkname
        from guanzhu
        where userid=#{userid1,jdbcType=BIGINT} and gzuid=#{userid2,jdbcType=BIGINT} and is_deleted=0
    </select>


    <select id="getUsersGuanzhuMe" parameterType="java.lang.Long" resultType="java.lang.Long">
        select userid
        from guanzhu
        where gzuid=#{userid,jdbcType=BIGINT} and is_deleted=0
        order by gzid desc
    </select>


    <select id="isGuanzhuByUid" resultType="java.lang.Byte">
        select is_deleted from guanzhu
        where userid=#{userid,jdbcType=BIGINT} and gzuid=#{gzuid,jdbcType=BIGINT}
        order by gzid desc
    </select>


    <select id="getMyGuanzhuNum" parameterType="java.lang.Long" resultType="java.lang.Integer">
        select COUNT(*)
        from guanzhu
        where userid=#{userid,jdbcType=BIGINT} and is_deleted=0
    </select>

    <select id="getGuanzhuMeNum" parameterType="java.lang.Long" resultType="java.lang.Integer">
        select COUNT(*)
        from guanzhu
        where gzuid=#{gzuid,jdbcType=BIGINT} and is_deleted=0
    </select>


    <insert id="insert" parameterType="lan.qxc.lightserver.entity.Guanzhu">
        insert into guanzhu(gzid, userid, gzuid,createtime,remarkname,is_deleted,is_blacked)
        values (#{gzid,jdbcType=BIGINT},#{userid,jdbcType=BIGINT},#{gzuid,jdbcType=BIGINT},#{createtime,jdbcType=TIMESTAMP},
        #{remarkname,jdbcType=VARCHAR},#{is_deleted,jdbcType=TINYINT},#{is_blacked,jdbcType=TINYINT})
    </insert>

    <insert id="insertSelective" parameterType="lan.qxc.lightserver.entity.Guanzhu">
        insert into guanzhu
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="gzid!=null">
                gzid,
            </if>
            <if test="userid!=null">
                userid,
            </if>
            <if test="gzuid!=null">
                gzuid,
            </if>
            <if test="createtime!=null">
                createtime,
            </if>
            <if test="remarkname!=null">
                remarkname,
            </if>
            <if test="is_deleted!=null">
                is_deleted,
            </if>
            <if test="is_blacked!=null">
                is_blacked,
            </if>
        </trim>
        <trim prefix="values(" suffix=")" suffixOverrides=",">
            <if test="gzid!=null">
                #{gzid,jdbcType=BIGINT},
            </if>
            <if test="userid!=null">
                #{userid,jdbcType=BIGINT},
            </if>
            <if test="gzuid!=null">
                #{gzuid,jdbcType=BIGINT},
            </if>
            <if test="createtime!=null">
                #{createtime,jdbcType=TIMESTAMP},
            </if>
            <if test="remarkname!=null">
                #{remarkname,jdbcType=VARCHAR},
            </if>
            <if test="is_deleted!=null">
                #{is_deleted,jdbcType=TINYINT},
            </if>
            <if test="is_blacked!=null">
                #{is_blacked,jdbcType=TINYINT},
            </if>
        </trim>
    </insert>


    <update id="updateByGzidSelective" parameterType="lan.qxc.lightserver.entity.Guanzhu">
        update guanzhu
        <set>
            <if test="userid!=null">
                userid=#{userid,jdbcType=BIGINT},
            </if>
            <if test="gzuid!=null">
                gzuid=#{gzuid,jdbcType=BIGINT},
            </if>
            <if test="createtime!=null">
                createtime=#{createtime,jdbcType=TIMESTAMP},
            </if>
            <if test="remarkname!=null">
                remarkname=#{remarkname,jdbcType=VARCHAR},
            </if>
            <if test="is_deleted!=null">
                is_deleted=#{is_deleted,jdbcType=TINYINT},
            </if>
            <if test="is_blacked!=null">
                is_blacked=#{is_blacked,jdbcType=TINYINT},
            </if>
        </set>
        where gzid=#{gzid,jdbcType=BIGINT}
    </update>

    <update id="updateByUseridSelective" parameterType="lan.qxc.lightserver.entity.Guanzhu">
        update guanzhu
        <set>
            <if test="createtime!=null">
                createtime=#{createtime,jdbcType=TIMESTAMP},
            </if>
            <if test="remarkname!=null">
                remarkname=#{remarkname,jdbcType=VARCHAR},
            </if>
            <if test="is_deleted!=null">
                is_deleted=#{is_deleted,jdbcType=TINYINT},
            </if>
            <if test="is_blacked!=null">
                is_blacked=#{is_blacked,jdbcType=TINYINT},
            </if>
        </set>
        where userid=#{userid,jdbcType=BIGINT} and gzuid=#{gzuid,jdbcType=BIGINT}
    </update>


    <update id="deleteByGzid" parameterType="java.lang.Long">
        update guanzhu
        set is_deleted=1
        where gzid=#{gzid,jdbcType=BIGINT}
    </update>

    <update id="deleteByUserid">
        update guanzhu
        set is_deleted=1
        where userid=#{userid,jdbcType=BIGINT} and gzuid=#{gzuid,jdbcType=BIGINT}
    </update>

</mapper>