<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="lan.qxc.lightserver.dao.UserMapper">

    <resultMap id="BaseResultMap" type="lan.qxc.lightserver.entity.User">
        <id column="userid" jdbcType="BIGINT" property="userid"></id>
        <result column="phone" jdbcType="VARCHAR" property="phone"></result>
        <result column="username" jdbcType="VARCHAR" property="username"></result>
        <result column="password" jdbcType="VARCHAR" property="password"></result>
        <result column="sex" jdbcType="TINYINT" property="sex"></result>
        <result column="icon" jdbcType="VARCHAR" property="icon"></result>
        <result column="birthday" jdbcType="TIMESTAMP" property="birthday"></result>
        <result column="introduce" jdbcType="VARCHAR" property="introduce"></result>
        <result column="location" jdbcType="VARCHAR" property="location"></result>
        <result column="hometown" jdbcType="VARCHAR" property="hometown"></result>
        <result column="job" jdbcType="VARCHAR" property="job"></result>
        <result column="is_deleted" jdbcType="TINYINT" property="is_deleted"></result>
        <result column="is_locked" jdbcType="TINYINT" property="is_locked"></result>
    </resultMap>

    <sql id="Base_Column_List">
        userid, phone, username,password,sex,icon,birthday,introduce,location,hometown,job,is_deleted,is_locked
    </sql>

    <select id="selectByUserid" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"></include>
        from user
        where userid=#{userid,jdbcType=BIGINT};
    </select>

    <select id="selectByPhone" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"></include>
        from user
        where phone=#{phone,jdbcType=VARCHAR};
    </select>

    <update id="deleteByUserid" parameterType="java.lang.Long">
        update user set is_deleted=1
        where userid=#{userid,jdbcType=BIGINT} and is_delected=0
    </update>

    <insert id="insert" parameterType="lan.qxc.lightserver.entity.User">
        insert into user(userid, phone, username,password,sex,icon,birthday,introduce,location,hometown,job,is_deleted,is_locked)
        values (#{userid,jdbcType=BIGINT}, #{phone,jdbcType=VARCHAR}, #{username,jdbcType=VARCHAR},#{password,jdbcType=VARCHAR},
        #{sex,jdbcType=TINYINT},
        #{icon,jdbcType=VARCHAR},#{birthday,jdbcType=VARCHAR},#{introduce,jdbcType=VARCHAR},#{location,jdbcType=VARCHAR},
        #{hometown,jdbcType=VARCHAR},#{job,jdbcType=VARCHAR},#{is_deleted,jdbcType=TINYINT},#{is_locked,jdbcType=TINYINT})
    </insert>

    <insert id="insertSelective" parameterType="lan.qxc.lightserver.entity.User">
        insert into user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userid!=null">
                userid,
            </if>
            <if test="phone!=null">
                phone,
            </if>
            <if test="username!=null">
                username,
            </if>
            <if test="password!=null">
                password,
            </if>
            <if test="sex!=null">
                sex,
            </if>
            <if test="icon!=null">
                icon,
            </if>
            <if test="birthday!=null">
                birthday,
            </if>
            <if test="introduce!=null">
                introduce,
            </if>
            <if test="location!=null">
                location,
            </if>
            <if test="hometown!=null">
                hometown,
            </if>
            <if test="job!=null">
                job,
            </if>
            <if test="is_deleted!=null">
                is_deleted,
            </if>
            <if test="is_locked!=null">
                is_locked,
            </if>
        </trim>

        <trim prefix="values(" suffix=")" suffixOverrides=",">
            <if test="userid != null">
            #{userid,jdbcType=BIGINT},
            </if>
            <if test="phone != null">
             #{phone,jdbcType=VARCHAR},
            </if>
            <if test="username != null">
              #{username,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
              #{password,jdbcType=VARCHAR},
            </if>
            <if test="sex != null">
            #{sex,jdbcType=TINYINT},
            </if>
            <if test="icon != null">
            #{icon,jdbcType=VARCHAR},
            </if>
            <if test="birthday != null">
            #{birthday,jdbcType=VARCHAR},
            </if>
            <if test="introduce != null">
            #{introduce,jdbcType=VARCHAR},
            </if>
            <if test="location != null">
            #{location,jdbcType=VARCHAR},
            </if>
            <if test="hometown != null">
            #{hometown,jdbcType=VARCHAR},
            </if>
            <if test="job != null">
            #{job,jdbcType=VARCHAR},
            </if>
            <if test="is_deleted != null">
            #{is_deleted,jdbcType=TINYINT},
            </if>
            <if test="is_locked != null">
            #{is_locked,jdbcType=TINYINT},
            </if>

        </trim>

    </insert>


    <update id="updateByUserid" parameterType="lan.qxc.lightserver.entity.User">
        update user
        set  phone=#{phone,jdbcType=VARCHAR},
         username=#{username,jdbcType=VARCHAR},
         password=#{password,jdbcType=VARCHAR},
        sex=#{sex,jdbcType=TINYINT},
        icon=#{icon,jdbcType=VARCHAR},
        birthday=#{birthday,jdbcType=VARCHAR},
        introduce=#{introduce,jdbcType=VARCHAR},
        location=#{location,jdbcType=VARCHAR},
        hometown=#{hometown,jdbcType=VARCHAR},
        job=#{job,jdbcType=VARCHAR},
        is_deleted=#{is_deleted,jdbcType=TINYINT},
        is_locked=#{is_locked,jdbcType=TINYINT}
        where  userid=#{userid,jdbcType=BIGINT}
    </update>

    <update id="updateByUseridSelective" parameterType="lan.qxc.lightserver.entity.User">
        update user
        <set>
            <if test="phone != null">
                phone=#{phone,jdbcType=VARCHAR},
            </if>
            <if test="username != null">
                username=#{username,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                password= #{password,jdbcType=VARCHAR},
            </if>
            <if test="sex != null">
                sex= #{sex,jdbcType=TINYINT},
            </if>
            <if test="icon != null">
                icon=#{icon,jdbcType=VARCHAR},
            </if>
            <if test="birthday != null">
                birthday= #{birthday,jdbcType=VARCHAR},
            </if>
            <if test="introduce != null">
                introduce=#{introduce,jdbcType=VARCHAR},
            </if>
            <if test="location != null">
                location=  #{location,JdbcType=VARCHAR},
            </if>
            <if test="hometown != null">
                hometown=#{hometown,jdbcType=VARCHAR},
            </if>
            <if test="job != null">
                job=#{job,jdbcType=VARCHAR},
            </if>
            <if test="is_deleted != null">
                is_deleted= #{is_deleted,jdbcType=TINYINT},
            </if>
            <if test="is_locked != null">
                is_locked=#{is_locked,jdbcType=TINYINT},
            </if>
        </set>
        where  userid=#{userid,jdbcType=BIGINT}
    </update>


</mapper>